<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myRide" class="com.jarvis.Beans.MyRide">
        <property name="rideName" value="Nimbus"/>
        <property name="ccOfRide" value="225"/>
        <property name="mileageOfRide" value="45"/>
    </bean>

    <bean id="constructorInjectionRide" class="com.jarvis.Beans.ConstructorInjectionRide">
        <!--must be followed orderly, from left to right-->
        <constructor-arg value="Nimbus"/>
        <constructor-arg value="225"/>
        <constructor-arg value="45"/>
        <constructor-arg value="Matte Black"/>
    </bean>

</beans>